/* @import "katex/dist/katex.min.css"; */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --spacing-layout: calc(var(--spacing) * 25);

  --color-base: #2c3e50;

  --color-brand: #004225;

  --color-secondary: #d4af37;

  --color-active: color-mix(in srgb, var(--color-brand), white 50%);

  --color-base-sub: color-mix(in srgb, var(--color-base), transparent 40%);

  --color-sub: color-mix(in srgb, var(--color-base), transparent 80%);

  --color-white: #f8f9fa;

  --color-page-bg: var(--color-white);

  --color-sub-muted: color-mix(in srgb, var(--color-base), transparent 95%);

  --color-brand-mask: color-mix(in srgb, var(--color-brand), transparent 40%);
}

@layer base {
  body {
    /* Apply it globally using the generated utility or the variable */
    @apply text-base;
    @apply bg-page-bg;
  }
}

@utility section-header {
  @apply mb-4;

  position: relative;
  
  /* Use the & to target the pseudo-element */
  &::after {
    content: "";

    @apply absolute left-0 -bottom-1.5 w-full h-0.5 bg-secondary;
  }
}