---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
import awardsJson from '../data/awards.json'

---

<Layout title="Awards">
<ul>
	{
		awardsJson.map(awards => <li>{awards}</li>)
	}
</ul>
</Layout>
