---
import Link from "../components/Link.astro";
import PageSectionLayout from "../layouts/PageSectionLayout.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactImage from "../assets/contact.jpg";
import { Image } from "astro:assets";
---

<BaseLayout>
	<div class="flex flex-col gap-2">
		<div class="text-white relative">
			<Image
				alt="Contact background image"
				class="absolute inset-0 w-full h-full object-cover -z-10"
				src={ContactImage!}
			/>
			<div
				class="py-30 bg-brand-mask flex flex-col gap-4 text-center lg:px-layout-lg md:px-layout-md sm:px-layout-sm px-layout"
			>
				<h1 class="text-4xl">Contact & Collaboration</h1>
				<h3 class="text-2xl">
					Let's build the future of trustworthy healthcare AI together
				</h3>
			</div>
		</div>
	</div>
	<PageSectionLayout title="Get in Touch">
		<div class="flex gap-4 flex-col lg:flex-row">
			<div class="flex flex-col gap-4 grow lg:basis-[50%]">
				<p>
					I am always open to exploring new academic collaborations,
					speaking engagements, and interdisciplinary projects. If you
					are a fellow researcher, clinician, or student interested in
					the intersection of mathematical theory, multimodal AI, and
					clinical application, I would love to hear from you.
				</p>
				<form
					action="https://formspree.io/f/xlgwpvpa"
					method="POST"
					class=""
				>
					<div class="flex flex-col sm:flex-row sm:gap-5">
						<div class="mb-5">
							<label
								for="name"
								class="block text-sm font-bold text-brand mb-2"
								>Name</label
							>
							<input
								type="text"
								id="name"
								name="name"
								placeholder="Dr. Jane Doe"
								required
								class="w-full p-3 border border-gray-300 rounded-md text-base bg-white transition-all duration-300 outline-none focus:border-secondary focus:ring-2 focus:ring-secondary/40"
							/>
						</div>
						<div class="w-full mb-5">
							<label
								for="email"
								class="block text-sm font-bold text-brand mb-2"
								>Email</label
							>
							<input
								type="email"
								id="email"
								name="email"
								placeholder="jane.doe@university.edu"
								required
								class="w-full p-3 border border-gray-300 rounded-md text-base bg-white transition-all duration-300 outline-none focus:border-secondary focus:ring-2 focus:ring-secondary/40"
							/>
						</div>
					</div>

					<div class="w-full mb-5">
						<label
							for="subject"
							class="block text-sm font-bold text-brand mb-2"
							>Subject</label
						>
						<input
							type="text"
							id="subject"
							name="subject"
							placeholder="e.g., Research Collaboration Inquiry"
							required
							class="w-full p-3 border border-gray-300 rounded-md text-base bg-white transition-all duration-300 outline-none focus:border-secondary focus:ring-2 focus:ring-secondary/40"
						/>
					</div>

					<div class="w-full mb-5">
						<label
							for="message"
							class="block text-sm font-bold text-brand mb-2"
							>Message</label
						>
						<textarea
							id="message"
							name="message"
							rows="6"
							placeholder="How can we work together?"
							required
							class="w-full p-3 border border-gray-300 rounded-md text-base bg-white transition-all duration-300 outline-none focus:border-secondary focus:ring-2 focus:ring-secondary/40 resize-y"
						></textarea>
					</div>

					<button
						type="submit"
						class="w-full bg-brand hover:bg-secondary px-6 transition-colors duration-300 text-white font-bold py-3 rounded-md cursor-pointer shadow-md"
					>
						Send Message
					</button>
				</form>
			</div>
			<div class="grow h-100 lg:h-auto lg:basis-[50%]">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.783089039409!2d-0.238355423379335!3d51.51719537181555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487611d51b08dbf9%3A0x50852b99e2db6796!2sHammersmith%20Hospital!5e0!3m2!1sen!2suk!4v1771768746415!5m2!1sen!2suk"
					class="w-full h-full"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</PageSectionLayout>
</BaseLayout>
