---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
import awardsJson from '../data/awards.json'

---

<section>
	<h3 id="awards">Awards</h3>
	<ul>
		{
			awardsJson.map(awards => <li>{awards}</li>)
		}
	</ul>
</section>
