---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav class="flex h-20 items-stretch border-b border-sub">
		<h2 class="text-3xl shrink-0 pl-8 flex items-center font-thin"><a href="/">DR. <span class="text-brand"></span>LING <b class="text-secondary">HUANG</b></a></h2>
		<input class="collapse" type="checkbox" id="header-button-toggle" />
		<div class="grow" />
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/research">Research</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/publications">Publications</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>

	</nav>
</header>
