---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { pathname } = Astro.url;

const active = pathname.replace(/\/$/g, '') === Astro.props.href?.toString().replace(/\/$/g, '');

const textClass = active ?
	'text-brand dark:text-secondary' : '';

const decorationClass = active ? 
	'h-1' : 'h-0'
---

<div class="flex flex-col md:flex-row justify-center py-5 px-4 last:mr-4 relative">
	<a {...Astro.props} class={`text-lg text-center font-normal ${textClass} ${Astro.props.class ?? ''}`}>
		<slot />
	</a>
	<div class={`${decorationClass} w-[calc(100%-(--spacing(8)))] left-4 bottom-3 absolute bg-secondary`} />
</div>
