---
import authorJson from "../data/author.json";
import Link from "./Link.astro";
---

<div class="portfolio">
    <img src="https://avatars.githubusercontent.com/u/23476065?v=4" />
    <div class="description">
        <h2>{authorJson.author.name}</h2>
        <p class="weak affiliations">
            {authorJson.author.affiliations}
        </p>
        <div>
            {
                authorJson.author.interests.map((interest) => (
                    <>
                        <Link href={interest.link} target="_blank">
                            {interest.title}
                        </Link>
                    </>
                ))
            }
        </div>
    </div>
</div>
<style>
    h2 {
        font-size: 22pt;
    }
    p {
    }
    .portfolio {
        display: flex;
        gap: 20px;
    }
    .portfolio > .description {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .portfolio > img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        min-width: 150px;
        min-height: 150px;
    }
    .affiliations {
        margin: 0;
    }
</style>
