<div class="social-links">
    <a href="https://www.linkedin.com/in/ling-huang-267a84193/" target="_blank">
        <span class="sr-only">LinkedIn</span>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            id="Linkedin--Streamline-Font-Awesome"
            height="32"
            width="32"
        >
            <desc> Linkedin Streamline Icon: https://streamlinehq.com </desc>
            <!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc.-->
            <path
                d="M14.72 0.16H1.2764999999999997C0.6605 0.16 0.16 0.6675 0.16 1.2905v13.419c0 0.6229999999999999 0.5005 1.1304999999999998 1.1165 1.1304999999999998H14.72c0.616 0 1.1199999999999999 -0.5075 1.1199999999999999 -1.1304999999999998V1.2905c0 -0.6229999999999999 -0.504 -1.1304999999999998 -1.1199999999999999 -1.1304999999999998ZM4.899 13.6H2.5749999999999997V6.117h2.3275V13.6Zm-1.162 -8.504999999999999c-0.7454999999999999 0 -1.3475 -0.6055 -1.3475 -1.3475s0.602 -1.3475 1.3475 -1.3475c0.742 0 1.3475 0.6055 1.3475 1.3475 0 0.7454999999999999 -0.602 1.3475 -1.3475 1.3475ZM13.610499999999998 13.6h-2.324V9.959999999999999c0 -0.8679999999999999 -0.017499999999999998 -1.9845 -1.2075 -1.9845 -1.211 0 -1.3964999999999999 0.945 -1.3964999999999999 1.9215V13.6h-2.324V6.117h2.2295v1.022h0.0315c0.31149999999999994 -0.588 1.071 -1.2075 2.2015 -1.2075 2.352 0 2.7895 1.5505 2.7895 3.5664999999999996V13.6Z"
                fill="currentColor"
                stroke-width="0.0357"></path>
        </svg>
    </a>
    <a
        href="https://scholar.google.com/citations?user=HczSncoAAAAJ&hl=en&oi=ao"
        target="_blank"
    >
        <span class="sr-only">Goggle Scholar</span>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            id="Google-Scholar--Streamline-Font-Awesome"
            height="32"
            width="32"
        >
            <desc>
                Google Scholar Streamline Icon: https://streamlinehq.com
            </desc>
            <!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc.-->
            <path
                d="M12.215625 9.328125s0 0.003125 0.003125 0.003125c0.2875 0.60625 0.45 1.284375 0.45 2C12.665625 13.909375 10.578125 16 8 16s-4.665625 -2.090625 -4.665625 -4.665625c0 -0.715625 0.1625 -1.39375 0.45 -2 0.053125 -0.1125 0.1125 -0.225 0.175 -0.334375 0.1375 -0.2375 0.29375 -0.459375 0.46875 -0.665625 0.85625 -1.01875 2.140625 -1.665625 3.575 -1.665625 1.05 0 2.01875 0.346875 2.8 0.934375 0.284375 0.215625 0.54375 0.459375 0.775 0.734375 0.175 0.20625 0.33125 0.43125 0.46875 0.665625 0.0625 0.10625 0.11875 0.21875 0.171875 0.328125zm0.825 -0.5875c-0.940625 -1.825 -2.84375 -3.075 -5.040625 -3.075s-4.1 1.25 -5.040625 3.075L0 6.334375 8 0l8 6.334375 -2.959375 2.409375z"
                fill="currentColor"
                stroke-width="0.0313"></path>
        </svg>
    </a>
    <a href="https://github.com/iWeisskohl" target="_blank">
        <span class="sr-only">GitHub</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
            ><path
                fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path></svg
        >
    </a>
</div>
<style>

	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>