---
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import PageSectionLayout from "../layouts/PageSectionLayout.astro";
import { getEntry } from "astro:content";

const featuredResearchDoc = await getEntry("featuredResearch", "index");
---

<PageSectionLayout title="Featured Research" class="mt-0 flex-col">
    <div class="flex flex-col md:flex-row items-center gap-8">
        <Image
            class="shrink-0 grow-0 w-70 h-auto self-center"
            src={featuredResearchDoc?.data.heroImage!}
            alt={featuredResearchDoc?.data.title ??
                "Featured Research Hero Image"}
        />
        <div class="flex flex-col items-start gap-4">
            <h3 class="text-2xl font-medium">
                {featuredResearchDoc?.data.title}
            </h3>
            {
                (featuredResearchDoc?.data.description ?? "")
                    .split("\n\n")
                    .map((paragraph) => <p class="hyphens-auto">{paragraph}</p>)
            }
            <Link class="bg-brand text-white" href="/featured-research"
                >Dive Deeper</Link
            >
        </div>
    </div>
</PageSectionLayout>
