---
import Link from "../components/Link.astro";
import JobImage from "../assets/job.jpg";
import { Image } from "astro:assets";

---

<div class="relative">
    <Image
        alt="Job background image"
        class="absolute inset-0 w-full h-full object-cover -z-10"
        src={JobImage!}
    />
    <div class="bg-brand-mask items-center flex flex-col gap-4 py-8 px-layout md:px-layout-md sm:sm:px-layout-sm px-layout">
        <h2 class="text-2xl text-white">
            I am currently on the academic job market for Fall 2026
        </h2>
        <div class="flex gap-4 flex-col sm:flex-row items-center">
            <Link class="bg-white text-base" href="/research-statement"
                >Review Research Statement</Link
            >
            <Link class="bg-white text-base" href="/contact">Contact Me</Link>
        </div>
    </div>
</div>
