---
import authorJson from "../data/author.json";
import Link from "../components/Link.astro";
import LingImage from "../assets/ling-2.png";
import { Image } from "astro:assets";
import HomeImage from "../assets/home.jpg";
---

<div class="text-white relative">
    <Image
        alt="Home background image"
        class="absolute inset-0 w-full h-full object-cover -z-10"
        src={HomeImage!}
    />
    <div class="flex gap-4">
        <div class="bg-brand-mask lg:px-layout-lg md:px-layout-md sm:px-layout-sm px-layout flex gap-4">
            <div class="flex items-end">
                <div class="lg:w-80 hidden lg:block">
                    <Image
                        alt="Dr. Ling Huang profile picture"
                        class="shrink-0 grow-0"
                        src={LingImage!} />
                </div>
            </div>
            <div
                class="text-white flex flex-col items-left justify-center font-light gap-8 py-15"
            >
                <h1 class="text-4xl">
                    Fusing Multi-Modal Medical Data with Reliable AI
                </h1>
                <h2 class="text-xl hyphens-auto">
                    Postdoctoral Research Associate at Imperial College London.
                    I develop trustworthy AI frameworks—focusing on uncertainty
                    quantification and multi-modal fusion—to ensure
                    state-of-the-art deep learning models are reliable,
                    explainable, and safe.
                </h2>

                <div class="flex gap-4 flex-wrap flex-col sm:flex-row">
                    {
                        authorJson.author.interests.map((interest) => (
                            <Link
                                href={interest.link}
                                target="_blank"
                                class="border border-white font-medium text-center md:text-left"
                            >
                                {interest.title}
                            </Link>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</div>