---
import { getCollection } from "astro:content";
import NewsItem from "../components/NewsItem.astro";
import PageSectionLayout from "../layouts/PageSectionLayout.astro";

const posts = (await getCollection('recentNews')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<PageSectionLayout title="Recent News" class="bg-sub-muted py-10">
    <div class="flex flex-col">
        {
            posts.map((post) => (
                <NewsItem 
                    date={post.data.pubDate}
                    title={post.data.title}
                    url={`/recent-news/${post.id}/`}
                />
            ))
        }
    </div>
</PageSectionLayout>
