---
import PageSectionLayout from "../layouts/PageSectionLayout.astro";
import Publication from "../components/Publication.astro";
---

<PageSectionLayout title="Selected Publications" class="bg-sub-muted py-10 my-0!">
    <div class="flex flex-col gap-4">
        <Publication
            title="EsurvFusion: An evidential multimodal survival fusion model based on Epistemic random fuzzy sets"
            citation="Ling Huang, Yucheng Xing, Qika Lin, Su Ruan, Mengling Feng"
            url="https://ieeexplore.ieee.org/abstract/document/11214415"
        />
        <Publication
            title="DPsurv: Dual-Prototype Evidential Fusion for Uncertainty-Aware and Interpretable Whole-Slide Image Survival Prediction"
            citation="Yucheng Xing, Ling Huang, Jingying Ma, Ruping Hong, Jiangdong Qiu, Pei Liu, Kai He, Huazhu Fu, Mengling Feng"
            url="https://arxiv.org/abs/2510.00053"
        />
    </div>
</PageSectionLayout>