---
import PageSectionLayout from "../layouts/PageSectionLayout.astro";
import Publication from "../components/Publication.astro";
---

<PageSectionLayout title="Selected Publications" class="bg-sub-muted py-10 my-0!">
    <div class="flex flex-col gap-4">
        <Publication
            title="Trustworthy Multi-Modal Fusion for Critical Care Prediction"
            citation="Jingchen Wang, Yujia Zhang, Yizhe Zhang, and Fei Sha. NeurIPS 2024."
            url="https://www.google.com"
        />
        <Publication
            title="Multi-Modal Medical Data Fusion with Reliable AI: A Survey"
            citation="Jingchen Wang, Yujia Zhang, Yizhe Zhang, and Fei Sha. arXiv 2024."
            url="https://www.google.com"
        />
    </div>
</PageSectionLayout>