---
import BaseLayout from "./BaseLayout.astro";
import Link from "../components/Link.astro";

export interface Props {
	title: string;
	pdfFile?: string;
}

const { title, pdfFile } = Astro.props;
---

<BaseLayout>
	<main>
		<article class="flex flex-col items-center mt-10">
			<div class="prose">
				<div class="title">
					<h1>{title}</h1>
					{
						pdfFile ? (
							<Link
								inline
								href={pdfFile}
								target="_blank"
								class="text-brand hover:text-secondary font-medium uppercase"
							>
								Download PDF
							</Link>
						) : null
					}
					<slot />
				</div>
			</div>
		</article>
	</main>
</BaseLayout>
